<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-12 col-md-8">
				<h2 align="center" style="margin-top: 50px">Información de usuario</h2>
				<div class="card">
					<div class="card-body">
						<dl class="row p-1">
                             <dt class="col-6">Id</dt>
                             <dd class="col-6" th:text="${user.id}"></dd>
                             <dt class="col-6">Identificación</dt>
                             <dd class="col-6" th:text="${user.identification}"></dd>
                             <dt class="col-6">Nombres</dt>
                             <dd class="col-6" th:text="${user.firstname}"></dd>
                             <dt class="col-6">Apellidos</dt>
                             <dd class="col-6" th:text="${user.lastname}"></dd>
                             <dt class="col-6">Email</dt>
                             <dd class="col-6" th:text="${user.email}"></dd>
                             <dt class="col-6">Usuario</dt>
                             <dd class="col-6" th:text="${user.username}"></dd>
                         </dl>
					</div>
				</div>
			</div>
		</div>
	</div>
 </body>
</html>